@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

table {
    width: 100%;
}

booking-table, member-table, clubs-table {
    width: 100%;
}

booking-table::part(table), member-table::part(table), clubs-table::part(table){
    min-width:100%;
    border-collapse: collapse;
}

booking-table::part(tr), member-table::part(tr), clubs-table::part(tr){
    border-bottom: 1pt solid #f5f6ff;
    text-align: left;
}

booking-table::part(th), member-table::part(th), clubs-table::part(th){
    border-bottom: 1pt solid #3e8ed0;
    text-align: left;
}

.booking-heading {
    background-color: #ff6146;
}

.member-heading {
    background-color: #ffc801;
}

.league-heading {
    background-color: #8fbd27;
}